My_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "path": "albanian-bot",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Handle FB webhook verification\nif (input['hub.mode'] === 'subscribe' && input['hub.verify_token'] === 'albanian_bot_verify') {\n  return [{ challenge: input['hub.challenge'], isVerification: true }];\n}\n\n// Incoming message processing\nlet message = '';\nlet senderId = '';\ntry {\n  message = input.entry[0].messaging[0].message.text.toLowerCase();\n  senderId = input.entry[0].messaging[0].sender.id;\n} catch {\n  return [{ error: 'Invalid message format' }];\n}\n\n// Product intent detection\nconst priceKeywords = ['sa kushton', 'çmimi', 'kushton'];\nconst orderKeywords = ['dua të porosis', 'porosi'];\nconst confirmKeywords = ['po', 'dakord', 'pranoj'];\n\nfunction extractProduct(text) {\n  if (text.includes('injektorve') || text.includes('40pcs')) return 'SET PER HEQJEN E INJEKTORVE - DIZNEVE 40PCS';\n  if (text.includes('14pcs')) return 'SET PER NXJERRJEN E DIZNEVE ME QEKIQ RRESHQITES 14PCS';\n  if (text.includes('vag') || text.includes('7pcs')) return 'SET PER NXJERRJEN E DIZNEVE VAG TDI ME QEKIQ RRESHQITES 7PCS';\n  if (text.includes('dizneve')) return 'SET PER NXJERRJEN E DIZNEVE ME QEKIQ RRESHQITES';\n  return null;\n}\n\nlet intent = 'GREETING';\nif (priceKeywords.some(k => message.includes(k))) intent = 'PRICE_INQUIRY';\nelse if (orderKeywords.some(k => message.includes(k))) intent = 'ORDER_REQUEST';\nelse if (confirmKeywords.some(k => message.includes(k))) intent = 'CONFIRMATION';\n\nconst product = extractProduct(message);\n\nreturn [{ intent, product, senderId, isVerification: false }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "name": "Message Processing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": [
                {
                  "operation": "equals",
                  "value": "PRICE_INQUIRY",
                  "property": "intent"
                }
              ]
            },
            {
              "conditions": [
                {
                  "operation": "equals",
                  "value": "ORDER_REQUEST",
                  "property": "intent"
                }
              ]
            },
            {
              "conditions": [
                {
                  "operation": "equals",
                  "value": "CONFIRMATION",
                  "property": "intent"
                }
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [440, 0],
      "name": "Switch Intent"
    },
    {
      "parameters": {
        "jsCode": "const prices = {\n  'SET PER HEQJEN E INJEKTORVE - DIZNEVE 40PCS': 110,\n  'SET PER NXJERRJEN E DIZNEVE ME QEKIQ RRESHQITES 14PCS': 60,\n  'SET PER NXJERRJEN E DIZNEVE ME QEKIQ RRESHQITES': 35,\n  'SET PER NXJERRJEN E DIZNEVE VAG TDI ME QEKIQ RRESHQITES 7PCS': 40\n};\n\nconst product = $input.first().json.product;\nconst senderId = $input.first().json.senderId;\nconst price = prices[product] || 'në dispozicion';\nconst message = `Çmimi për ${product || 'produktin'} është ${price}€. A dëshironi të porosisni?`;\nreturn [{ senderId, message }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, -100],
      "name": "Price Response"
    },
    {
      "parameters": {
        "jsCode": "const senderId = $input.first().json.senderId;\nconst message = \"A dëshironi ta porosisni? Ju lutemi konfirmoni me 'Po'\";\nreturn [{ senderId, message }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "name": "Order Response"
    },
    {
      "parameters": {
        "jsCode": "const senderId = $input.first().json.senderId;\nconst message = \"Faleminderit! Porosia juaj është pranuar.\";\nreturn [{ senderId, message }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 100],
      "name": "Confirm Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/me/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"recipient\": {\"id\": $json[\"senderId\"]}, \"message\": {\"text\": $json[\"message\"]}}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [880, 0],
      "name": "Send FB Message",
      "credentials": {
        "httpBearerAuth": {
          "id": "Xvy9HyboQH41noBf"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.isVerification ? $json.challenge : 'OK' }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 0],
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Message Processing", "type": "main", "index": 0}]]
    },
    "Message Processing": {
      "main": [
        [
          {"node": "Respond to Webhook", "type": "main", "index": 0},
          {"node": "Switch Intent", "type": "main", "index": 0}
        ]
      ]
    },
    "Switch Intent": {
      "main": [
        [{"node": "Price Response", "type": "main", "index": 0}],
        [{"node": "Order Response", "type": "main", "index": 1}],
        [{"node": "Confirm Response", "type": "main", "index": 2}]
      ]
    },
    "Price Response": {
      "main": [[{"node": "Send FB Message", "type": "main", "index": 0}]]
    },
    "Order Response": {
      "main": [[{"node": "Send FB Message", "type": "main", "index": 0}]]
    },
    "Confirm Response": {
      "main": [[{"node": "Send FB Message", "type": "main", "index": 0}]]
    },
    "Send FB Message": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": true
}
